<time datetime="<%= date_xml(item.date) %>" itemprop="datePublished">
  <svg class="i-calendar" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M2 6 L2 30 30 30 30 6 Z M2 15 L30 15 M7 3 L7 9 M13 3 L13 9 M19 3 L19 9 M25 3 L25 9"></path>
  </svg>
  &nbsp;
  <%= item.date.format(config.date_format) %>
</time>

<% if (item.categories && item.categories.length){ %>
    <% var cats = [];
        item.categories.forEach(function(cat){
        cats.push('<a href="' + config.root + cat.path + '">' + cat.name + '</a>');
    });%>
    &nbsp;
    <svg class="i-tag" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <circle cx="24" cy="8" r="2"></circle>
      <path d="M2 18 L18 2 30 2 30 14 14 30 Z"></path>
    </svg>
    &nbsp;
    <%- cats.join('·') %>
<% } %>


<% if (item.tags && item.tags.length){ %>
    <% var tags = [];
        item.tags.forEach(function(tag){
        tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    });%>
    &nbsp;
    <svg class="i-tag" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <circle cx="24" cy="8" r="2"></circle>
      <path d="M2 18 L18 2 30 2 30 14 14 30 Z"></path>
    </svg>
    &nbsp;
    <%- tags.join('·') %>
<% } %>

&nbsp;
    <svg class="i-tag" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
      <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-2.29-2.333A17.9 17.9 0 0 1 8.027 13H4.062a8.008 8.008 0 0 0 5.648 6.667zM10.03 13c.151 2.439.848 4.73 1.97 6.752A15.905 15.905 0 0 0 13.97 13h-3.94zm9.908 0h-3.965a17.9 17.9 0 0 1-1.683 6.667A8.008 8.008 0 0 0 19.938 13zM4.062 11h3.965A17.9 17.9 0 0 1 9.71 4.333 8.008 8.008 0 0 0 4.062 11zm5.969 0h3.938A15.905 15.905 0 0 0 12 4.248 15.905 15.905 0 0 0 10.03 11zm4.259-6.667A17.9 17.9 0 0 1 15.973 11h3.965a8.008 8.008 0 0 0-5.648-6.667z"/>
    </svg>
    <%-<!--Icon from https://remixicon.com/-->%>
&nbsp;

<%var split_path = path.split('/');
  if(split_path[(config.lang_location)] === 'en') {
      split_path[(config.lang_location)] = 'zh-CN';
  } else {
      split_path[(config.lang_location)] = 'en';
  }
  var target_path = '/' + split_path.join('/'); %>
  <%- '<a href="' + target_path + '"> Switch Language/切换语言 </a>' %>